<h4>Javascript Test</h4>


<div class='col-md-4 well'>
  <form name='myForm' ng-submit='addTerm(myForm.$valid)' novalidate>
    <fieldset class="form-group">
      <label for="term">Term:</label><span ng-style="{color: 'red'}" ng-show="myForm.term.$error.required && myForm.isSubmitted"> *This field is required*</span>
      <span ng-style="{color: 'red'}" ng-show="myForm.term.$error.maxlength && myForm.isSubmitted"> *Term must be less than 50 characters*</span>
      <input type="text" class="form-control" id="term" name='term' ng-model='term' ng-maxlength='50' required>
    </fieldset>
    <fieldset class="form-group">
      <label for="type">Type:</label><span ng-style="{color: 'red'}" ng-show="myForm.type.$error.required && myForm.isSubmitted"> *This field is required*</span>
      <select class="form-control" id="type" ng-model='type' name='type' required>
        <option value=''>Choose a Type</option>
        <option value='positive'>Positive</option>
        <option value='negative'>Negative</option>
      </select>
    </fieldset>
    <button type="submit" class="btn btn-primary">Add Term</button>
  </form>
</div>
<div class='col-md-4'>
  <h6>Positive:</h6>
  <ul ng-repeat="positive in positives | orderBy: 'toString()' ">
    <li ng-click='showAttributesPositive()' class='label label-success'>{{ positive }} <i ng-click='removeLabelPositives()' class="glyphicon glyphicon-remove glyphicon-white"></i></li>
  </ul>
</div>
<div class='col-md-4'>
  <h6>Negative:</h6>
  <ul ng-repeat="negative in negatives | orderBy: 'toString()' ">
    <li ng-click='showAttributesNegative()' class='label label-danger'>{{ negative }} <i ng-click='removeLabelNegatives()' class="glyphicon glyphicon-remove glyphicon-white"></i></li>
  </ul>
</div>

